name: Build snap and run tests

on:
  workflow_call

jobs:
  checks:
    name: Code checks
    runs-on: ubuntu-22.04
    timeout-minutes: 5
    strategy:
      fail-fast: true
      matrix:
        python-version:
          - "3.10"
          - "3.12"
    steps:
      - id: checkout
        name: Checkout repo
        uses: actions/checkout@v6
      - id: setup-python
        name: Setup Python
        uses: actions/setup-python@v6.0.0
        with:
          python-version: ${{matrix.python-version}}
          architecture: x64
      - id: code-checks
        name: Make sure the code follows conventions and tests correctly
        run: |
          make checks
